

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

.but{

    background-color: orange;
}

.but1{
    background-color: gray;
}

#calculator{
    background-color: rgb(29, 27, 27);
    border-radius: 15px;
    
    height: 650px;
    width: 400px;
    overflow: hidden;
}

#display{
    width: 100%;
    height: 27%;
    padding: 10px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color:rgb(47, 46, 46);

 }

button{
    
    width: 75%;
    height:100%;
    border-radius: 90%;
    border: none;
    background-color:rgb(47, 46, 46);
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#keys{
   display: grid;
   height: 65%;
   grid-template-columns: repeat(4, 1fr); 
   gap: 5px;
   padding: 15px;
}

button:hover{
    background-color: orange;
}
button:active{
    background-color: rgb(106, 101, 101);
}
.operator-btn{
    background-color: orange;
}

@media only screen and (max-width:600px){
    #calculator{
       width: 96%;
    }

}
 @media only screen and (min-width:601px) and (max-width:1024px){
    #calculator{

       width:97%;
       height: 98%;
    }
    button{
        border-radius: 30%;
        font-size: 4rem;
    }
 }